/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* _______________________________________________________________ */

/* Resets */
/* 1. Use a more-intuitive box-sizing model 
    2. Remove default margin
    3. Remove default Padding*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 4.Setting Page's Font */
body {
    font-family: "Poppins", sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
/* _______________________________________________________________ */

/* Variables */
:root {
    /* Color Theme */

    /* Typography */

    /* Spacing */
}
/* _______________________________________________________________ */
/* !Main CSS */
body {
    background: #250057;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    background: #fff;
    width: min(90%, 30em);
    border-radius: 5px;
    padding: 0.7em 1.4em;
    transform: translateY(-3em);
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5em 0;
    border: 0;
    outline: 0;
    color: #555;
}

.input-box img {
    width: 2.5em;
    cursor: pointer;
}

/* _______________________________________________________________ */
/* Media Queries */
@media() {
}
/* _______________________________________________________________ */
